@charset "UTF-8";

/* base */
p {
  line-height: 1.8;
  & + & {
    margin-top: 1em;
  }
}

// p:not([class]) {
//   & > strong {
//     @include underline_marker();
//   }
// }
p {
  strong {
    color: var(--sub-color);
  }
}
%bar_strong {
  @include underline_marker();
}
table {
  th {
    background-color: var(--table-thead-th-color-bg, #fafafa);
  }
  td {
    background-color: #fff;
  }
  thead {
    font-size: 90%;
    th {
      color: #fff;
      background-color: var(--sub-color);
    }
  }
}

.btn {
  margin-top: calc(var(--padding-v) * 0.7);
  a {
    position: relative;
    color: var(--btn-color-text, var(--sub-color));
    background-color: var(--btn-color-bg, #fff);
    border: 2px solid var(--btn-color-text, var(--sub-color));
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.5rem;
    border-radius: 100vmax;
    padding: 1.25rem 3rem;
    overflow: hidden;
    transition: background-color 0s ease, border-color 0.3s ease;
    text-decoration: none;
    font-weight: bold;
    &:after {
      justify-self: end;
      @include svgIcon(
        '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zm395.3 11.3l-112 112c-4.6 4.6-11.5 5.9-17.4 3.5s-9.9-8.3-9.9-14.8l0-64-96 0c-17.7 0-32-14.3-32-32l0-32c0-17.7 14.3-32 32-32l96 0 0-64c0-6.5 3.9-12.3 9.9-14.8s12.9-1.1 17.4 3.5l112 112c6.2 6.2 6.2 16.4 0 22.6z"/></svg>',
        $color: var(--main-color)
      );
      scale: 1.25;
    }
  }
}

.tableScroll-wrapper {
  position: relative;
  padding: 0 0 1rem;
  overflow: auto;
  white-space: nowrap;

  table {
    width: 100%;
  }

  &::-webkit-scrollbar {
    /*tableにスクロールバーを追加*/
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    /*tableにスクロールバーを追加*/
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    /*tableにスクロールバーを追加*/
    background: #bcbcbc;
  }
}

.scroll-notice {
  padding: 0.5em 0;
  text-align: right;
  font-size: 80%;
  color: var(--caution-color, #f30);

  &:before {
    content: '左右にスクロールできます';
  }
}

/* caution */
.caution {
  margin: 2rem 0 0;
  font-size: 80%;
  text-align: right;
  line-height: 1.3;
  color: var(--caution-color, #f30);

  & > * {
    &:not(:first-child) {
      margin-top: 0.5em;
    }

    &:before {
      content: '※';
      margin-right: 0.5em;
    }
  }
}

/* bootstrap alerts */
%alert-shape {
  padding: 1em;
  margin: 1em 0;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 90%;
}

.alert-success {
  @extend %alert-shape;
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;

  a {
    color: #2b542c;
  }
}

.alert-info {
  @extend %alert-shape;
  background-color: #d9edf7;
  border-color: #bcdff1;
  color: #31708f;

  a {
    color: #245269;
  }
}

.alert-warning {
  @extend %alert-shape;
  background-color: #fcf8e3;
  border-color: #faf2cc;
  color: #8a6d3b;

  a {
    color: #66512c;
  }
}

.alert-error {
  @extend %alert-shape;
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;

  a {
    color: #843534;
  }
}
